

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532388665322636190.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532388665322636190.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532388665322636190.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532388665322636190.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532388665322636190.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532388665322636190.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532388665322636190.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532388665322636190.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532388665322636190.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532388665322636190.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532388665322636190.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532388665322636190.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532388665322636190.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532388665322636190.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532388665322636190.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532388665322636190.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532388665322636190.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532388665322636190.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-532388665322636190.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532388665322636190.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532388665322636190.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-532388665322636190.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532388665322636190.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532388665322636190.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532388665322636190.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532388665322636190.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532388665322636190.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532388665322636190.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532388665322636190.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532388665322636190.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532388665322636190.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532388665322636190.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532388665322636190.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532388665322636190.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-532388665322636190.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532388665322636190.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532388665322636190.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-532388665322636190.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532388665322636190.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-532388665322636190.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532388665322636190.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532388665322636190.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532388665322636190.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-532388665322636190.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532388665322636190.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532388665322636190.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532388665322636190.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-532388665322636190.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532388665322636190.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532388665322636190.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532388665322636190.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-532388665322636190.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532388665322636190.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532388665322636190 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-532388665322636190 .gp-relative{position:relative}.gps-532388665322636190 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532388665322636190 .gp-mb-0{margin-bottom:0}.gps-532388665322636190 .gp-flex{display:flex}.gps-532388665322636190 .gp-grid{display:grid}.gps-532388665322636190 .\!gp-hidden{display:none!important}.gps-532388665322636190 .gp-hidden{display:none}.gps-532388665322636190 .gp-max-w-full{max-width:100%}.gps-532388665322636190 .gp-flex-col{flex-direction:column}.gps-532388665322636190 .gp-gap-y-0{row-gap:0}.gps-532388665322636190 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532388665322636190 .gp-duration-200{transition-duration:.2s}.gps-532388665322636190 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-532388665322636190 .tablet\:\!gp-hidden{display:none!important}.gps-532388665322636190 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-532388665322636190 .mobile\:\!gp-hidden{display:none!important}.gps-532388665322636190 .mobile\:gp-hidden{display:none}}.gps-532388665322636190 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532388665322636190 .\[\&_p\]\:gp-inline p{display:inline}.gps-532388665322636190 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532388665322636190 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gv55lyQDma" data-id="gv55lyQDma"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv55lyQDma gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gguSntKpl3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gHS_HX-Gg-" data-id="gHS_HX-Gg-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHS_HX-Gg- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIQflUIGEy gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gl2DRLw8if">
    <div
      parentTag="Col"
        class="gl2DRLw8if "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggl2DRLw8if_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gNVXsG2rXc" data-id="gNVXsG2rXc"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNVXsG2rXc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gD7aS4g3HV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjRHoWyX3W" data-id="gjRHoWyX3W"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjRHoWyX3W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV-ALmxP5d gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gWWpE6cUiR">
    <div
      parentTag="Col"
        class="gWWpE6cUiR "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWWpE6cUiR_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gOWde8oqqY">
    <div
      parentTag="Col"
        class="gOWde8oqqY "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOWde8oqqY_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM45oAsHJE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g0hUZXNtar">
    <div
      parentTag="Col"
        class="g0hUZXNtar "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0hUZXNtar_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gjVfosoa4K">
    <div
      parentTag="Col"
        class="gjVfosoa4K "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjVfosoa4K_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYgS_I01yD gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gcYyDn8ZU7" data-id="gcYyDn8ZU7"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt-tablet:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcYyDn8ZU7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf3MUnZQCF gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxrUiqn4Dt">
    <div
      parentTag="Col"
        class="gxrUiqn4Dt "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxrUiqn4Dt_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gbHKg_KpMD">
    <div
      parentTag="Col"
        class="gbHKg_KpMD "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbHKg_KpMD_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSxV_k9quz gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gycWbcTS6c">
    <div
      parentTag="Col"
        class="gycWbcTS6c "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggycWbcTS6c_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ggv53NwrPx">
    <div
      parentTag="Col"
        class="ggv53NwrPx "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggv53NwrPx_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-532388665322636190 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eggss-store/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=532388643344483466&sectionId=532388665322636190)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggl2DRLw8if_text","label":"ggl2DRLw8if_text","default":"<p>What We’ve Achieved</p>"},{"type":"html","id":"ggWWpE6cUiR_text","label":"ggWWpE6cUiR_text","default":"<p>6K+</p>"},{"type":"html","id":"ggOWde8oqqY_text","label":"ggOWde8oqqY_text","default":"<p>GemFit yearly members</p>"},{"type":"html","id":"gg0hUZXNtar_text","label":"gg0hUZXNtar_text","default":"<p>10K+</p>"},{"type":"html","id":"ggjVfosoa4K_text","label":"ggjVfosoa4K_text","default":"<p>Registered members</p>"},{"type":"html","id":"ggxrUiqn4Dt_text","label":"ggxrUiqn4Dt_text","default":"<p>85%</p>"},{"type":"html","id":"ggbHKg_KpMD_text","label":"ggbHKg_KpMD_text","default":"<p>Visit class twice a week</p>"},{"type":"html","id":"ggycWbcTS6c_text","label":"ggycWbcTS6c_text","default":"<p>95%</p>"},{"type":"html","id":"gggv53NwrPx_text","label":"gggv53NwrPx_text","default":"<p>Recommend GemFit to others</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
