

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532388665691734841.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-532388665691734841.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532388665691734841.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-532388665691734841.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532388665691734841.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532388665691734841.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532388665691734841.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532388665691734841.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532388665691734841.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532388665691734841.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532388665691734841.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-532388665691734841.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532388665691734841.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532388665691734841.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532388665691734841.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532388665691734841.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532388665691734841.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532388665691734841.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532388665691734841.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532388665691734841.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532388665691734841.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-532388665691734841.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532388665691734841.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-532388665691734841.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532388665691734841.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-532388665691734841.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-532388665691734841.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532388665691734841.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532388665691734841.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532388665691734841.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532388665691734841.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532388665691734841.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532388665691734841.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532388665691734841.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532388665691734841.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532388665691734841.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532388665691734841.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532388665691734841.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-532388665691734841.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532388665691734841.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-532388665691734841.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-532388665691734841.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532388665691734841.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532388665691734841.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-532388665691734841.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-532388665691734841.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-532388665691734841.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-532388665691734841.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532388665691734841.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-532388665691734841.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-532388665691734841.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-532388665691734841.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-532388665691734841.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532388665691734841.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532388665691734841.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-532388665691734841.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-532388665691734841.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-532388665691734841.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-532388665691734841.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-532388665691734841.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-532388665691734841.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532388665691734841.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-532388665691734841.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-532388665691734841.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-532388665691734841.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-532388665691734841.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-532388665691734841.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532388665691734841.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532388665691734841 .focus\:\!gp-shadow-none,.gps-532388665691734841 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-532388665691734841 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-532388665691734841 .gp-invisible{visibility:hidden}.gps-532388665691734841 .gp-fixed{position:fixed}.gps-532388665691734841 .gp-absolute{position:absolute}.gps-532388665691734841 .gp-relative{position:relative}.gps-532388665691734841 .gp-inset-0{inset:0}.gps-532388665691734841 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-532388665691734841 .gp-top-\[27px\]{top:27px}.gps-532388665691734841 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-532388665691734841 .gp-z-1{z-index:1}.gps-532388665691734841 .gp-z-100{z-index:100}.gps-532388665691734841 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532388665691734841 .gp-mb-0{margin-bottom:0}.gps-532388665691734841 .gp-flex{display:flex}.gps-532388665691734841 .gp-inline-flex{display:inline-flex}.gps-532388665691734841 .gp-grid{display:grid}.gps-532388665691734841 .\!gp-hidden{display:none!important}.gps-532388665691734841 .gp-hidden{display:none}.gps-532388665691734841 .\!gp-h-auto{height:auto!important}.gps-532388665691734841 .gp-h-full{height:100%}.gps-532388665691734841 .gp-w-full{width:100%}.gps-532388665691734841 .gp-w-max{width:-moz-max-content;width:max-content}.gps-532388665691734841 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-532388665691734841 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-532388665691734841 .gp-max-w-full{max-width:100%}.gps-532388665691734841 .gp-flex-1{flex:1 1 0%}.gps-532388665691734841 .gp-flex-col{flex-direction:column}.gps-532388665691734841 .gp-flex-wrap{flex-wrap:wrap}.gps-532388665691734841 .gp-items-center{align-items:center}.gps-532388665691734841 .\!gp-justify-center{justify-content:center!important}.gps-532388665691734841 .gp-justify-center{justify-content:center}.gps-532388665691734841 .gp-gap-y-0{row-gap:0}.gps-532388665691734841 .gp-overflow-hidden{overflow:hidden}.gps-532388665691734841 .gp-break-words{overflow-wrap:break-word}.gps-532388665691734841 .gp-rounded{border-radius:4px}.gps-532388665691734841 .gp-rounded-none{border-radius:0}.gps-532388665691734841 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-532388665691734841 .\!gp-bg-none{background-image:none!important}.gps-532388665691734841 .gp-p-\[16px\]{padding:16px}.gps-532388665691734841 .gp-text-center{text-align:center}.gps-532388665691734841 .gp-text-\[14px\]{font-size:14px}.gps-532388665691734841 .gp-leading-normal{line-height:1.5}.gps-532388665691734841 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-532388665691734841 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-532388665691734841 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-532388665691734841 .gp-no-underline{text-decoration-line:none}.gps-532388665691734841 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-532388665691734841 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532388665691734841 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532388665691734841 .gp-duration-200{transition-duration:.2s}.gps-532388665691734841 .gp-duration-300{transition-duration:.3s}.gps-532388665691734841 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532388665691734841 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-532388665691734841 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-532388665691734841 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-532388665691734841 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-532388665691734841 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-532388665691734841 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-532388665691734841 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-532388665691734841 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-532388665691734841 .tablet\:gp-relative{position:relative}.gps-532388665691734841 .tablet\:\!gp-hidden{display:none!important}.gps-532388665691734841 .tablet\:gp-hidden{display:none}.gps-532388665691734841 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-532388665691734841 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-532388665691734841 .mobile\:gp-relative{position:relative}.gps-532388665691734841 .mobile\:\!gp-hidden{display:none!important}.gps-532388665691734841 .mobile\:gp-hidden{display:none}.gps-532388665691734841 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-532388665691734841 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-532388665691734841 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-532388665691734841 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-532388665691734841 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532388665691734841 .\[\&_p\]\:gp-inline p{display:inline}.gps-532388665691734841 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-532388665691734841 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532388665691734841 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNiUyREQum" data-id="gNiUyREQum"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:auto;--pb:auto;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNiUyREQum gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPF4rYdKmg gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:700px;--h-tablet:700px;--h-mobile:684px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":699,"src":"https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"#242424","image":{"height":699,"src":"https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":684,"src":"https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/","width":375},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"ghTFbBd51l","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="ghTFbBd51l gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:700px;--h-tablet:700px;--h-mobile:684px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="ghTFbBd51l"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:700px;--h-tablet:700px;--h-mobile:684px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/" />
        <img
          title
          class="adaptive-hero-banner"
          src="https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/"
          alt=""
          fetchpriority="high"
          style="--aspect:1440/699;--aspect-tablet:1440/699;--aspect-mobile:375/684;--d:none;--d-tablet:none;--d-mobile:none;--h:700px;--h-tablet:700px;--h-mobile:684px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/1c2b2af2-365d-4dd7-8886-601a248203b1/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:1440/699;--aspect-tablet:1440/699;--aspect-mobile:375/684;--d:none;--d-tablet:none;--d-mobile:none;--h:700px;--h-tablet:700px;--h-mobile:684px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#242424;--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = true 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/" data-srcset="https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/ 768w,https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/ 1024w,https://ucarecdn.com/493dc472-65a1-4d60-a033-5d7e8d852c23/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))] gp-bg-g-brand"
            style="--bgc:var(--g-c-brand, brand);--top:0;--left:0;--op:0"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_OjiJVuBo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="grBqTzbFPq" data-id="grBqTzbFPq"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grBqTzbFPq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gujhxO84qw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="guc_dFRixs">
    <div
      parentTag="Col"
        class="guc_dFRixs "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguc_dFRixs_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gUsNQgNNjB">
    <div
      parentTag="Col"
        class="gUsNQgNNjB "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUsNQgNNjB_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g8srjT6FbW" data-id="g8srjT6FbW"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:370px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8srjT6FbW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ1YEDHhey gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-2xl);--pb:auto;--pl-tablet:0px;--pr-tablet:0px" class="gxfHbZtdHy ">
      
    
    <gp-form
      id="gxfHbZtdHy"
      data-id="gxfHbZtdHy"
      
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gxfHbZtdHy"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-gxfHbZtdHy ', id: 'contact_form_gxfHbZtdHy' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gxfHbZtdHy"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div popover id="my-popover-gxfHbZtdHy">
        <style>
            #my-popover-gxfHbZtdHy::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gxfHbZtdHy"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div></div>
        
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      data-id="gXmLrC3p8w"
    >
      <input
        type="text"
        class="gp-form-item gXmLrC3p8w gp-g-paragraph-1 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggXmLrC3p8w_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
    data-id="gKQ2dk40Eu"
      class="gKQ2dk40Eu"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggKQ2dk40Eu_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      data-id="gCn_r7JrR6"
    >
      <input
        type="text"
        class="gp-form-item gCn_r7JrR6 gp-g-paragraph-1 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:13px;--pr:13px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:15px;--pb-mobile:15px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggCn_r7JrR6_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[phone]"
        value=""
      ></input>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gIRD-3_ypA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CF0000;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gIRD-3_ypA:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #AE0000;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gIRD-3_ypA:hover .gp-button-icon {
      color: undefined;
    }

     .gIRD-3_ypA .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gIRD-3_ypA:hover .gp-button-price {
      color: undefined;
    }

    .gIRD-3_ypA .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gIRD-3_ypA .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gIRD-3_ypA:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gIRD-3_ypA" aria-label="TRY OUT NOW"
      
      data-state="idle"
      class="gIRD-3_ypA gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#AE0000;--bg:#CF0000;--pl:24px;--pr:24px;--pt:14px;--pb:14px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px"
      >
        {{ section.settings.ggIRD-3_ypA_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
  <gp-text data-id="gObQDdpMPT">
    <div
      parentTag="ContactForm"
        class="gObQDdpMPT "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggObQDdpMPT_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gWfnUEgTi8 ">
      
    <gp-countdown-timer
      data-id="gWfnUEgTi8"
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1682134207528,"dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1683280615938,"hours":3,"mins":0,"startTime":1681529407528},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gWfnUEgTi8","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":{},"color":"transparent","isCustom":false,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":"","padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"childrens":[],"label":"CountDown Timer","settings":{"behaviour":"daily","dateStandard":1682134207528,"dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1683280615938,"hours":3,"mins":0,"startTime":1681529407528},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"#B4B4B4","colorNumber":"#CF0000","horizontalGap":"auto","itemPadding":{"custom":{"desktop":{"horizontal":"12px","vertical":"8px"},"mobile":{"horizontal":"10px","vertical":"7px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"labelTypography":{"custom":{"desktop":{"fontSize":"13px","fontStyle":"normal","fontWeight":"400","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"12px"},"tablet":{"fontSize":"13px"}}},"numTypo":{"attrs":{"color":"#CF0000"},"custom":{"fontSize":{"desktop":"28px","mobile":"24px","tablet":"28px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"],"fontWeight":"600","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"numTypography":{"custom":{"desktop":{"fontSize":"28px","fontStyle":"normal","fontWeight":"600","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"24px","fontWeight":"600"},"tablet":{"fontSize":"28px","fontWeight":"600"}}},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"auto"},"tag":"Countdown","uid":"gWfnUEgTi8","type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:auto;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      id="day"
        class="gWfnUEgTi8 "
        style="--mb:auto;--c:#CF0000"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#CF0000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      
        class="gWfnUEgTi8 "
        style="--c:#B4B4B4"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWfnUEgTi8_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      id="hour"
        class="gWfnUEgTi8 "
        style="--mb:auto;--c:#CF0000"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#CF0000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      
        class="gWfnUEgTi8 "
        style="--c:#B4B4B4"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWfnUEgTi8_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      id="minute"
        class="gWfnUEgTi8 "
        style="--mb:auto;--c:#CF0000"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#CF0000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      
        class="gWfnUEgTi8 "
        style="--c:#B4B4B4"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWfnUEgTi8_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:12px;--pr:12px;--pt:8px;--pb:8px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:7px;--pb-mobile:7px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      id="second"
        class="gWfnUEgTi8 "
        style="--mb:auto;--c:#CF0000"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#CF0000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gWfnUEgTi8-text">
    <div
      
        class="gWfnUEgTi8 "
        style="--c:#B4B4B4"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWfnUEgTi8_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-532388665691734841 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eggss-store/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=532388643344483466&sectionId=532388665691734841)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gguc_dFRixs_text","label":"gguc_dFRixs_text","default":"<p>&nbsp;Are You Ready To Get Fitness?</p><p>We Are With You Every Step Of The Way</p>"},{"type":"html","id":"ggUsNQgNNjB_text","label":"ggUsNQgNNjB_text","default":"<p>Get in touch with us to find out more and try out a free class</p>"},{"type":"html","id":"ggXmLrC3p8w_placeholder","label":"ggXmLrC3p8w_placeholder","default":"Name"},{"type":"html","id":"ggKQ2dk40Eu_placeholder","label":"ggKQ2dk40Eu_placeholder","default":"Email"},{"type":"html","id":"ggCn_r7JrR6_placeholder","label":"ggCn_r7JrR6_placeholder","default":"Phone Number"},{"type":"html","id":"ggIRD-3_ypA_label","label":"ggIRD-3_ypA_label","default":"TRY OUT NOW"},{"type":"html","id":"ggObQDdpMPT_text","label":"ggObQDdpMPT_text","default":"<p>Today only, hurry up!</p>"},{"type":"html","id":"ggWfnUEgTi8_dayLabel","label":"ggWfnUEgTi8_dayLabel","default":"DAYS"},{"type":"html","id":"ggWfnUEgTi8_hourLabel","label":"ggWfnUEgTi8_hourLabel","default":"HRS"},{"type":"html","id":"ggWfnUEgTi8_minuteLabel","label":"ggWfnUEgTi8_minuteLabel","default":"MINS"},{"type":"html","id":"ggWfnUEgTi8_secondLabel","label":"ggWfnUEgTi8_secondLabel","default":"SECS"},{"type":"html","id":"ggWfnUEgTi8_weekLabel","label":"ggWfnUEgTi8_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
