
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap'); </style>
  <style> .gps-509791818817209517 .focus\:\!gp-shadow-none,.gps-509791818817209517 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509791818817209517 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509791818817209517 .\!gp-g-s-large{padding:12px 32px!important}.gps-509791818817209517 .gp-invisible{visibility:hidden}.gps-509791818817209517 .\!gp-static{position:static!important}.gps-509791818817209517 .gp-fixed{position:fixed}.gps-509791818817209517 .gp-absolute{position:absolute}.gps-509791818817209517 .gp-relative{position:relative}.gps-509791818817209517 .gp-top-\[27px\]{top:27px}.gps-509791818817209517 .gp-z-1{z-index:1}.gps-509791818817209517 .gp-z-100{z-index:100}.gps-509791818817209517 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509791818817209517 .gp-mb-0{margin-bottom:0}.gps-509791818817209517 .\!gp-inline-block{display:inline-block!important}.gps-509791818817209517 .\!gp-inline{display:inline!important}.gps-509791818817209517 .gp-flex{display:flex}.gps-509791818817209517 .gp-inline-flex{display:inline-flex}.gps-509791818817209517 .gp-grid{display:grid}.gps-509791818817209517 .\!gp-hidden{display:none!important}.gps-509791818817209517 .gp-hidden{display:none}.gps-509791818817209517 .\!gp-h-auto{height:auto!important}.gps-509791818817209517 .gp-h-5,.gps-509791818817209517 .gp-h-\[20px\]{height:20px}.gps-509791818817209517 .gp-h-full{height:100%}.gps-509791818817209517 .gp-min-h-\[150px\]{min-height:150px}.gps-509791818817209517 .gp-w-5,.gps-509791818817209517 .gp-w-\[20px\]{width:20px}.gps-509791818817209517 .gp-w-\[calc\(100\%_-_20px\)\]{width:calc(100% - 20px)}.gps-509791818817209517 .gp-w-full{width:100%}.gps-509791818817209517 .gp-max-w-full{max-width:100%}.gps-509791818817209517 .gp-flex-col{flex-direction:column}.gps-509791818817209517 .gp-items-center{align-items:center}.gps-509791818817209517 .gp-justify-center{justify-content:center}.gps-509791818817209517 .gp-gap-y-0{row-gap:0}.gps-509791818817209517 .gp-overflow-hidden{overflow:hidden}.gps-509791818817209517 .gp-break-words{overflow-wrap:break-word}.gps-509791818817209517 .gp-rounded{border-radius:4px}.gps-509791818817209517 .gp-rounded-none{border-radius:0}.gps-509791818817209517 .\!gp-bg-none{background-image:none!important}.gps-509791818817209517 .gp-p-\[16px\]{padding:16px}.gps-509791818817209517 .gp-text-\[14px\]{font-size:14px}.gps-509791818817209517 .\!gp-normal-case{text-transform:none!important}.gps-509791818817209517 .gp-leading-normal{line-height:1.5}.gps-509791818817209517 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-509791818817209517 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-509791818817209517 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-509791818817209517 .gp-no-underline{text-decoration-line:none}.gps-509791818817209517 .gp-opacity-25{opacity:.25}.gps-509791818817209517 .gp-opacity-75{opacity:.75}.gps-509791818817209517 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-509791818817209517 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509791818817209517 .gp-duration-200{transition-duration:.2s}.gps-509791818817209517 .gp-duration-300{transition-duration:.3s}.gps-509791818817209517 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509791818817209517 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-509791818817209517 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-509791818817209517 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-509791818817209517 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509791818817209517 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509791818817209517 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509791818817209517 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509791818817209517 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509791818817209517 .tablet\:\!gp-hidden{display:none!important}.gps-509791818817209517 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509791818817209517 .mobile\:\!gp-hidden{display:none!important}.gps-509791818817209517 .mobile\:gp-hidden{display:none}}.gps-509791818817209517 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509791818817209517 .\[\&_p\]\:gp-inline p{display:inline}.gps-509791818817209517 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509791818817209517 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509791818817209517 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKsKmiocg5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pt-mobile:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKsKmiocg5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gullt977kQ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gECsMzjHJp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pl:15px;--pr:15px;--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gECsMzjHJp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7hubJzvIq gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gj6c1a00VK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pr:120px;--mb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj6c1a00VK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1RTRa_VFp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUT8AgpKRs "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        ><p>CONTACT US</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gCMLe_Kgg4 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:57px;--size-tablet:57px;--size-mobile:50px;word-break:break-word;overflow:hidden"
        ><p>Get in touch</p></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gQRLp1_NQF "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        ><p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be&nbsp;happy to answer your questions.</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqibJzmQuE gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8PKpVUbGi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8PKpVUbGi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQVWO18TyS gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5ymDdEIaC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-2xl);--cg:15px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5ymDdEIaC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2p1ISQ0If gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gl7-1hWkka"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/" srcset="https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 768w,https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 1024w,https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 1440w" width="65" height="66" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:65/66;--aspect-tablet:65/66;--aspect-mobile:65/66;--objf:cover;--w:65px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/" data-srcset="https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 768w,https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 1024w,https://ucarecdn.com/ddb32e98-14c3-4a15-9187-9764fa343e84/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="65" height="66" alt="Alt Image"
      sizes="100vw"
      style="--aspect:65/66;--aspect-tablet:65/66;--aspect-mobile:65/66;--objf:cover;--w:65px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPZy6_Ui2W gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gD8u9ODlnP "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        ><p>Address</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gcLgisY4Cr "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        ><p>New York —<br>789 18h Street, Office&nbsp;</p><p>478 NY, De 81566</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc6Zfr9yVs gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3kNGAnwo5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:15px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3kNGAnwo5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7163rLmh_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gCZ23JoNpu"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/" srcset="https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 768w,https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 1024w,https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 1440w" width="65" height="66" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:65/66;--aspect-tablet:65/66;--aspect-mobile:65/66;--objf:cover;--w:65px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/" data-srcset="https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 768w,https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 1024w,https://ucarecdn.com/20c13ad2-f969-439a-9d92-01d6f1596d36/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="65" height="66" alt="Alt Image"
      sizes="100vw"
      style="--aspect:65/66;--aspect-tablet:65/66;--aspect-mobile:65/66;--objf:cover;--w:65px;--w-tablet:65px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6lnU5TGO6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gb9kkiOdol "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        ><p>Contact</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gmji0J_sGp "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        ><p>support@ecomsolid.com</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gou4DP09uf "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        ><p>+1 555 841 25 69</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gt0niw91gk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt0niw91gk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWsrt-e6hr gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3LT-Oy9Iv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgba(246, 246, 246, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3LT-Oy9Iv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="g8gx-75H7K gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gHeMTL6iGh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png" | file_url }}" srcset="{{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: 'master' }} 1440w" width="1407" height="1809" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1407/1809;--aspect-tablet:1407/1809;--aspect-mobile:1407/1809;--objf:fill;--w:469px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png" | file_url }}" data-srcset="{{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-839fff86-ef77-4d66-9c70-b510348f3fc2.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1407" height="1809" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1407/1809;--aspect-tablet:1407/1809;--aspect-mobile:1407/1809;--objf:fill;--w:469px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gVmEqCjr7d gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="geZcA5-Fqy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-3xl);--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geZcA5-Fqy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glM37PJkXG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1lRlDX83p "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        ><p>Confirm Your Information</p></div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl-tablet:0px;--pr-tablet:0px" class="g9bFrO9unB ">
      
    
    <gp-form 
      id="g9bFrO9unB"
      style=""
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g9bFrO9unB"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-g9bFrO9unB ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g9bFrO9unB"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.gg9bFrO9unB_errorMessage }}
          </div>
        {% endif %}
        <div
          id="gp-form-success-g9bFrO9unB"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.gg9bFrO9unB_successMessage }}
        </div>
        
      
      
    <div
      parentTag="ContactForm" id="gQqJhP4eAp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:16px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQqJhP4eAp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5ou6PSYJ8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <input
        type="text"
        class="gp-form-item g-la9ZB_Tv gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--tt:default;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--b:solid;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none"
        placeholder="{{ section.settings.gg-la9ZB_Tv_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      class="guzKaPxGgf"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none"
        placeholder="{{ section.settings.gguzKaPxGgf_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div>
    </div>
  
    
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <textarea
        class="gp-form-item ghmNPS_DJV gp-text-g-text-1 !gp-g-s-large !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--size-mobile:14px;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="{{ section.settings.gghmNPS_DJV_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:left"
    class=""
  >
    <style>
    .gm8VbwjkXw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gm8VbwjkXw:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
      
    }
  </style>
    <button
      type="submit" data-id="gm8VbwjkXw" aria-label="Submit Now!"
      
      data-state="idle"
      class="gm8VbwjkXw gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggm8VbwjkXw_label }}
      </span>
    </button>
  </div>
  </gp-button>

  
      
      
    <div
      parentTag="ContactForm" id="gxxLw2RPgC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-m);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxxLw2RPgC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWGrdawZ1_ gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKuJifoWN3 ">
      
    <div
      style="--ta:left"
    >
      <label
        style="--c:var(--g-c-text-1, text-1)"
        class="gKuJifoWN3 gp-flex gp-items-center gp-g-paragraph-1 gp-text-g-text-1 !gp-normal-case"
      >
        <input
          name="contact[agree]"
          type="checkbox"
          {% if false %}
          checked
          {% endif %}
          {% if true %}
          required
          {% endif %}
          class="gp-h-[20px] gp-w-[20px] !gp-inline-block !gp-static"
          style="appearance: auto"
        >
        </input>
        <span
          class="gp-w-[calc(100%_-_20px)]"
          style="--pl:auto"
        >
          
        </span>
      </label>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gozIU7YUGH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gPmLo6-J-R "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-5px;--mt-mobile:-6px;--mt-tablet:-6px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        ><p>I accept the Terms of Service</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509791818817209517 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eggss-store/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509635554384544643&sectionId=509791818817209517)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
